<div id="contato" class="grid_17 push_3">
	<h1 class="grid_3 omega">Contato</h1>

	<section class="grid_12">
		<h1>Informações</h1>

		<ul class="grid_5 alpha">
			<li class="black">E-mail.</li>
			<a href="#">contato@mrxempresarial.com.br</a>
		</ul>

		<ul class="grid_6">
			<li class="black">Facebook.</li>
			<a href="http://www.facebook.com">facebook.com/mrxempresarial</a>
		</ul>

		<ul class="grid_5 alpha">
			<li class="black">Twitter.</li>
			<a href="http://www.twitter.com">@mrx_empresarial</a>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Formulário</h1>

		<form action="#" method="post">
			<div class="grid_5 alpha">
				<p>Nome.</p>
				<input class="input" required type="text" name="name" id="nome">

				<p>Telefone.</p>
				<input class="input" required type="text" name="name" id="telefone">

				<p>E-mail.</p>
				<input class="input" required type="email" name="name" id="e-mail">
			</div>

			<div class="grid_5">
				<p>Título.</p>
				<input class="input" required type="title" name="name" id="nome">

				<p>Mensagem.</p>
				<textarea rows="2" cols="10" id="message" type="text"></textarea>
			</div>

			<div class="grid_1">
				<input class="button" type="submit" value="Enviar">
			</div>
		</form>
	</section>
</div>	