<div id="mod_negocio" class="grid_17 push_3">
	<h1 class="grid_3 omega">Modelo de Negócio</h1>

	<section class="grid_12">
		<h1>Segmento de Clientes</h1>

		<ul>
			<li class="grid_5 alpha">Grupos de Investidores</li>
			<li class="grid_6">Pessoas físicas aspirantes a empreededores</li>
			<li class="grid_5 alpha">Investidores individuais</li>
			<li  class="grid_6">Cadeia de Varejo</li>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Proposta de Valor</h1>

		<ul>
			<li class="grid_5 alpha">Novidade</li>
			<li class="grid_6">Personalização</li>
			<li class="grid_5 alpha">Desempenho</li>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Canais</h1>

		<ul>
			<li class="grid_5 alpha">Particulares</li>
			<li class="grid_6">Parcerias</li>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Relacionamento Com o Cliente</h1>

		<ul>
			<li>Pessoais (assistência pessoal dedicada)</li>
			<li>Automatizados (website com armazenamento de informações)</li>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Fontes de Receita</h1>

		<ul>
			<li>Transações de renda resultantes de produto entregue (on demand)</li>
			<li>Renda recorrente</li>
			<li>Headcount ou locação de mão de obra / recursos</li>
			
			<p>A precificação é variável (dinâmica), mudam com base nas condições de mercado.</p>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Recursos Principais</h1>

		<ul>
			<li>Fisicos</li>
			<li class="inside">- Necessário definir local (de preferência otimizado), e mobiliário necessário</li>
			<br>

			<li>Financeiros</li>
			<li class="inside">- Definir o fluxo de caixa e estabelecer o ponto de equilíbrio. Alinhar os valores tratados na Offer  Letter</li>
			<br>

			<li>Intelectuais</li>
			<li class="inside">- Experiências pessoais dos sócios, banco de dados</li>
			<br>

			<li>Humanos</li>
			<li class="inside">- Definir os recursos, seus jobs descriptions e os valores disponíveis para alocação</li>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Atividades-Chave</h1>

		<ul>
			<li class="grid_5 alpha">Resolução de Problemas</li>
			<li class="grid_6">Estabilização de operações</li>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Parcerias Principais</h1>

		<ul>
			<li class="grid_5 alpha">Consultoria</li>
			<li class="grid_6">Investidores principais</li>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Estrutura de Custos</h1>

		<ul>
			<li class="grid_5 alpha">Business Plan (foco financeiro)</li>
			<li class="grid_6">Receitas variáveis</li>
			<li class="grid_5 alpha">Receitas recorrentes (fixo)</li>
		</ul>
	</section>
	
	<section class="titulo2 grid_12 push_3 alpha">
		<h1>O Quadro - Modelo de Negócio</h1>

		<img src="/assets/tabela_mod_neg.png" alt="Modelo de Negocio">
	</section>		
</div>