<div id="servicos" class="grid_17 push_3">
	<h1 class="grid_3 omega">Serviços</h1>

	<section class="grid_12">
		<h1>Suporte Operacional</h1>

		<ul>
			<li class="grid_5 alpha">Identificação do negócio</li>
			<li class="grid_7 omega">Estruturação da empresa</li>
			<li class="grid_5 alpha">Business planning</li>
			<li class="grid_7 omega ">Escolha de ponto comercial</li>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Gestão Operacional</h1>

		<ul class="grid_5 alpha">
			<li>Gestão (compartilhada)</li>

			<li class="inside">- Operacional</li>
			<li class="inside">- Suprimentos</li>
			<li class="inside">- Recursos Humanos</li>
			<li class="inside">- Treinamento Operacional</li>
			<li class="inside">- Coaching de seus membros</li>
			<br>
			<li>Gestão (quarteirizada)</li>
			<li class="inside">- Contábil</li>
			<li class="inside">- Fiscal</li>
		</ul>

		<ul class="grid_5">
			<li>Assessoria (quarteirizada)</li>

			<li class="inside">- Engenharia</li>
			<li class="inside">- TI</li>
			<li class="inside">- Jurídica</li>
		</ul>
	</section>

	<section class="titulo2 grid_12 push_3 alpha">
		<h1>Gestão Estratégica</h1>

		<ul>
			<li class="grid_6">Estudo para aumento de capital</li>
			<li class="grid_5">Engenharia Financeira</li>
			<li class="grid_6">Reposicionamento de marca no mercado</li>
		</ul>
	</section>		
</div>