/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
  margin: 0;
  padding: 0;
}

body{
	font: normal 12px/1 "Arial",sans-serif;
	color: #333366;
}

body a{
	text-decoration: none;
}

body h1{
	font: normal 25px/1 "Arial", sans-serif;
	color: #ff3333;	
}

body p{
	font: normal 12px/1.3 "Arial", sans-serif;
	color: #666;
	margin-top: 10px;
}

body ul{
	font: normal 12px/1.3 "Arial", sans-serif;
	color: #666;
	margin-top: 10px;
	list-style-position: inside;
}

body ul li.inside{
	margin-top: 0;
	margin-left: 20px;
	list-style: none;
}

body > div{
	overflow: hidden;
}

section h1{
	color: #333;
	border-bottom: solid 1px;
	padding-bottom: 5px;
}

section h2{
	font: bold 15px/1 "Arial", sans-serif;
	color: #000;	
	margin-top: 20px;
}

.black{
	color: #000;
}


/*
*** HEADER
*/
header{
	border-top: solid 3px #ff3333;
	position: absolute;
}

header img{
	margin-top: 20px;
}

header ul{
	float: right;
	margin-top: 97px;
	list-style: none;
}

header li{
	background: url(/assets/links_line1.png) no-repeat bottom left;
	color: #006633;
	padding-bottom: 7px;
}

header .links_line2{
	background: url(/assets/links_line2.png) no-repeat bottom left;
}

header .selected{
	color: #ff3333; 
}


/*
*** CONTENT
*/

#content > div{
	margin-top: 50px;
}

#content ul li{
	display: list-item;
}

#content .titulo2{
	margin-top: 30px;
}


/*
*** SOBRE NOS
*/

#sobre_nos{
	border-left: solid 1px #ff3333;
	position: relative;
}
	

#sobre_nos > h1{
	float: left;
}

#sobre_nos img{
	margin-top: 40px;
	margin-left: 36px;
}

#objetivo{
	position: absolute;
}


#sobre_nos section h1{
	border-color: #ff3333;
}


/*
*** SERVICOS
*/

#servicos{
	border-left: solid 1px #336699;
}

#servicos > h1{
	float: left;
	color: #336699;
}

#servicos section h1{
	border-color: #336699;
}


/*
*** MOD_NEGOCIO
*/

#mod_negocio{
	border-left: solid 1px #33cccc;
}

#mod_negocio > h1{
	color: #33cccc;
}

#mod_negocio section h1{
	border-color: #33cccc;
}

#mod_negocio img{
	margin-top: 10px;
}


/*
*** CONTATO
*/

#contato{
	border-left: solid 1px #ff9933;
}

#contato > h1{
	color: #ff9933;
}

#contato section h1{
	border-color: #ff9933;
}

#contato ul{
	list-style: none
}

#contato .input,
#contato input[type=text],
#contato input[type=email],
#contato textarea{
	font: normal 15px "Arial", sans-serif;	
	margin-top: 5px;
	width: 226px;
	height: 20px;
	background-color: #e6e7e8;
	border: none;
}

#contato textarea{
	height: 69px;
}

#contato .button,
#contato input[type=submit]{
	padding: 8px 22px;
	background: #ff9933;
	border: none;
	cursor: pointer;
	color: #000;
	font: normal 12px/1 "arial",sans-serif;
	margin-top: 115px;
}

#contato .button:hover {
	background: #006633;
	color: #fff;
}


/*
*** FOOTER
*/

.footer-wrapper{
	background-color: #20421c;
	text-align: center;	
	margin: 80px -15px 0 -15px;
}

.footer-wrapper p{
	margin: 20px 0 200px 0;
	color: #fff;
}

.footer-wrapper a{
	color: #fff;
	text-decoration: underline;
}
